#menu-container {
  position: absolute;
  height: 100%;
}
#menu {
  position: relative;
  float: right;
  width: 35%;
  top: 80%;
  transition: 0.7s ease-in;
}
.expanded {
  top: 20% !important;
  transition: 0.7s ease-in;
}
#openhand {
  max-width: 100%;
}

ul {
  list-style: none;
}
#menuitems {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 45%;
}

#menuitems li img {
  width: 50%;
}

#rescontain {
  max-width: 1500px;
}
#resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 90%;
  width: auto\9; /* ie8 */
}
#minimalanimal {
  float: left;
  clear: right;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  width: auto\9; /* ie8 */
}
#minimaldesc {
  font-family: moonflower;
  float: right;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  width: auto\9; /* ie8 */
}
@media only screen and (max-device-width: 480px) {
  #menu {
    position: relative;
    float: right;
    width: 100%;
    top: 80%;
    transition: 0.3s ease-in;
  }
}
