@font-face { font-family: Mars Attacks; src: url('Mars Attacks.ttf'); }
@font-face { font-family: Raleway Light; src: url('Raleway-Light.otf'); }

body {
  margin: 0px;
}

a {text-decoration: none;
  color: black;
}
button {text-decoration: none;
  color: black;
}
.center {
  max-width: 80%;
  margin: auto;
}
.invisible {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
header {
  height: 20%;
}
.hoverswap img:last-child {
  display:none;
}
.hoverswap:hover img:first-child {
  display: none;
}
.hoverswap:hover img:last-child {
  display: inline-block;
}
#download-button {
  border: 0;
  background: transparent;
  font-family: Mars Attacks, sans-serif;
}
#diy {
  font-family: Mars Attacks, sans-serif;
  float: right;
  font-size: 7vw;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 30px;
}
#eye {
  background-image: url('../img/eyemovies.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height: 18vw;
  width: 18vw;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
#contact-container {
  width: 400px;
  height: 30%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 50;
}
.contactinfo {
  padding: 5px;
  display: inline;
}
#sticky-container {
  margin: 0 0 0 0;
  width: 100%;
  height: 6vw;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  background-color: white;
  padding-bottom: 10px;
}
#sticky-menu ul li {
  display: inline-block;
  font-family: Mars Attacks, sans-serif;
  font-size: 4vw;
  float: left;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
#homeeye {
  max-width: 20%;
  max-height: 50%;
  align-content: center;
  padding-bottom: 5px;
}
#top-row {
  padding-top: 100px;
}
#menu-container {
  overflow: hidden;
  position: fixed;
  float: right;
  top: 0px;
  height: 80%;
  width: 100%;
  height: 100%;
}
#menu {
  z-index: 10;
  position: relative;
  float: right;
  width: 35%;
  max-width: 350px;
  top: 100%;
  transition: 0.7s ease-in;
  top: 80%;
  padding: 20px;
}
.expanded {
  top: 30% !important;
  transition: 0.7s ease-in;
}
.forefront {
  z-index: 10;
}
#openhand {
  max-width: 100%;
}

ul {
  list-style: none;
}
#menuitems {
  position: absolute;
  top: 5%;
  left: 0;
  width: 45%;
  font-family: Mars Attacks, sans-serif;
  text-align: center;
  color: black;
  white-space: nowrap;
}

#menuitems ul {
  padding-left: 40px;
}

#menuitems li {
  width: 70%;
  padding-bottom: 10px;
  font-size: 3vw;
  float: left;
}
#rescontain {
  width: 70%;
  margin: auto;
  float: left;
}
#download-button {
  float: right;
  font-size: 7vw;
  position: absolute;
  right: 0;
  cursor: pointer;
  cursor: hand;
  padding-right: 30px;
}
#download-button:hover {
  background: black;
  color: #32CD32;
}
#resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 90%;
  width: auto\9; /* ie8 */
}
#minimalanimal {
  float: left;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  max-width: 500px;
  max-height: 500px;
  height: auto;
  width: auto\9; /* ie8 */
}
#minimaldesc {
  font-family: Raleway Light, sans-serif;
  font-size; 4vw;
  position:absolute;
  right: 0;
  padding: 20px;
  float: right;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  width: auto\9; /* ie8 */
}
@media only screen and (max-device-width: 480px) {
  #menu {
    position: relative;
    float: right;
    width: 100%;
    top: 80%;
    transition: 0.3s ease-in;
  }
}
#download-button {
  padding: 20px;
}
#email {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 4em;
  font-family: Mars Attacks, sans-serif;
  white-space: nowrap;
}
#instagram {
  float: left;
}
#twitter {
  float:inherit;
}
#linkedin {
  float: right;
}
#manhattan {
  text-align: center;
  font-family: Raleway Light, sans-serif;
  padding-top: 80px;
}
#manhattan img {
  height: auto;
  display: block;
  margin: auto;
  max-width: 50%;
  padding-top: 60px;
}
#manhattan p {
  max-width: 70%;
  display: inline-block;
}
#morecoming {
  font-family: Mars Attacks, sans-serif;
  font-size: 5vw;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 49.2%;
}
.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
